# Pandas and Matplotlib Homework

In [1]:
#load the libraries using the normal convention
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
##prevent plotting errors
%matplotlib inline

In [ ]:
#Load our excel files of interest into pandas
NHL_Goalies = pd.read_excel('NHLGoalies2016_2017.xls',na_values='',sheetname=0) 
GAA_ = pd.read_excel('NHLGoalies2016_2017.xls',na_values='',sheetname='5vs5')

#Appendix:
 1. DF = Pandas DataFrame
 2. NHL_Goalies DF = NHL_Goalies 
 3. GAA_ DF = GAA_

### Q1A) Create a new DF (*called NHL_Ones*) by:
#### Filtering the correct DF for Goalies that played 1 game <font color='red'> (GP = Games played)</font>

Notes: How would you find the 'GP' column in these files?

In [7]:
#Answer 1A:
import pandas
import xlrd
NHL_Goalies = pd.read_excel('NHLGoalies2016_2017.xls',na_values='',sheet_name=0) 
NHL_Goalies.head()

,Last Name,First Name,Team,DOB,Birth City,S/P,Cntry,Nat,Ht,Wt,...,Cap Hit,Pace,1st,2nd,3rd,Star,GPS,Ginj,Injuries,CHIP
0,Allen,Jake,STL,1990-08-07,Fredericton,NB,CAN,CAN,74,203,...,2350000.0,104.033662,9.0,7.0,6.0,22.0,9.8,NaN,NaN,
1,Alves,Jorge,CAR,1979-01-30,Boston,MA,USA,USA,69,185,...,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,NaN,NaN,
2,Andersen,Frederik,TOR,1989-10-02,Herning,NaN,DNK,DNK,76,230,...,5000000.0,118.931391,9.0,6.0,6.0,21.0,13.1,2.0,Upper body,121951
3,Anderson,Craig,OTT,1981-05-21,Park Ridge,IL,USA,USA,74,187,...,4200000.0,114.858819,8.0,2.0,5.0,15.0,9.2,2.0,Lower body,102439
4,Bachman,Richard,VAN,1987-07-25,Salt Lake City,UT,USA,USA,70,183,...,575000.0,113.421038,1.0,0.0,1.0,2.0,1.1,NaN,NaN,

In [8]:
list(NHL_Goalies)

['Last Name',
 'First Name',
 'Team',
 'DOB',
 'Birth City',
 'S/P',
 'Cntry',
 'Nat',
 'Ht',
 'Wt',
 'Sh',
 'Dft Yr',
 'Rd',
 'Ovrl',
 'GP',
 'GS',
 'GR',
 'W',
 'L',
 'T',
 'OTL',
 'SA',
 'SV',
 'GA',
 'SV%',
 'GAA',
 'GSAA',
 'MIN',
 'SO',
 'G',
 'A',
 'PTS',
 'PIM',
 'PenT',
 'PenD',
 'PenDf',
 'Supp',
 'QoC',
 'StMin',
 'StSV',
 'StGA',
 'StSV%',
 'StGAA',
 'QS',
 'QS%',
 'RBS',
 'Pull',
 'ReMin',
 'ReSV',
 'ReGA',
 'ReSV%',
 'ReGAA',
 'Dist',
 'Reb',
 'Rush',
 'DS',
 'HighS',
 'HighG',
 'HighSV%',
 'MedS',
 'MedG',
 'LowS',
 'LowG',
 'AdjSV%',
 'EVSA',
 'EVGA',
 'EV SV%',
 'PP SA',
 'PP GA',
 'PP SV%',
 'SH SA',
 'SH GA',
 'SH SV%',
 'AdjSV%.1',
 'CA',
 'FA',
 'SA.1',
 'xGA',
 'GA.1',
 'TrueSV%',
 'ExpSV%',
 'xGSAA',
 'ZS%',
 'OZS',
 'DZS',
 'NZS',
 'CF',
 'FF',
 'SF',
 'xGF',
 'GF',
 'RebF',
 'RushF',
 'SOS',
 'SOG',
 'SO SV%',
 'SOW',
 'SOL',
 'NMC',
 'Status',
 'Salary',
 'Cap Hit',
 'Pace',
 '1st',
 '2nd',
 '3rd',
 'Star',
 'GPS',
 'Ginj',
 'Injuries',
 'CHIP']

In [11]:
NHL_Goalies["GP"].values

array([61,  1, 66, 40,  5, 39,  7, 14,  2, 39, 63,  8, 60,  1,  1, 41,  1,
       14, 55, 32, 20, 31,  1, 65, 49,  6, 38,  1, 52,  1, 51, 24,  1,  7,
       28,  6,  2, 56, 63, 26, 28, 30,  1, 36, 65, 16, 26, 14, 18, 20,  1,
       59, 59,  4,  2, 57, 40, 26,  3, 58,  4, 21,  8, 54, 19, 50, 49,  1,
       28, 37, 26,  8,  3, 50, 62, 17, 30, 65, 43, 61,  1, 21, 60, 10, 55,
        2,  7,  1, 73,  1,  1, 24, 50, 61, 13])

 ## Q1B) 
 #### A. Find the value of the minimum Salary for the entire dataset 
 #### B. Replace the missing values from the NHL_Ones DF with this
 #### C. Create a new DF after replacement by **adding** a column called  "Adjusted_Salary"
 #### D. I would like to only see the old "Salary" column and the "Adjusted Salary" column from the new Dataframe

#### Notes:
1. Note where the minimum Salary value is coming & where you are going to assign it to
2. Read up on **replacement** of missing values
3. Look up Numpy definition for null
4. Look up Pandas **Series** Naming 
5. Review concat function in Pandas
6. Review how to slice columns

In [ ]:
#Answer 1B:

### Q2) A. Subset the NHL goalies data to include Goalies that played in more than 25 games AND have a GAA lower than 3.00 and store the New DF as 'workhorse'

Notes: 
1. Review notes creating "boolean" masks
2. Internet search for Multiple Boolean indexing on multiple columns in a Pandas DataFrame

In [ ]:
#Answer 2:

### Q3. Create 2 python functions that: 
<br> </br>
#### A. Creates/*Returns* a new DataFrame that displays the number of missing values in every column. 
#### This new DataFrame has one new column named "Missing" with the sum of the missing values from the columns

### Notes 
***Function takes one argument: An input DataFrame***
<br> </br>
<br> </br>
** One Proposed method:**
1. Create a pandas series object from the sum of the nulls in every column
2. Convert the series object to a DataFrame and pass the list of column names from the input DataFrame as the index. (read Pandas Help online)
3. During the conversion of the series object to a DataFrame pass a columns argument to create a name for the new Output DataFrame's Column.

### Expected Output:
<img src='Missing_cols_expectedoutput.png'>

In [ ]:
# Answer 3A: CODE HERE; Please comment each part

#### B. Creates a new *column* called 'missing_values' in the input DF that sums the missing values in each row.

### Notes: 
***Function takes one argument: An input DataFrame***
<br> </br>
<br> </br>
Check out how to use axis argument and how to create new columns in an existing dataframe

### Expected Output:
<img src= 'missingrows_expectedoutput.png'>

In [ ]:
#Answer 3B here; Please comment each part

### Q4) Matplotlib Question Plot in one figure and 2 side by side plots:
<br> </br>
#### A. Plot the histogram of the all the GAA of the NHL_Goalies DF  AND the goalies that played in more than 25 games with a GAA < 3.00, 
#### B. Label the Titles of the plots differently (*ie EntireSet + Subset*)
#### C. Change the color of one of the plots from the default

# Notes

1. convert your column of interest into a NumPY array (look up online for usage)
2. Review: https://matplotlib.org/devdocs/api/_as_gen/matplotlib.pyplot.hist.html

In [ ]:
#Answer 4 here: pleae comment

### Q5) GroupBy Question
##### 1. Subset the NHL_Goalies DataFrame where Injuries is not known <font color='red'>(Injuries=NaN)</font>; 
##### 2. Use a Merge with the GAA_  DF to produce a NEW DF (*called mergedDF*) 
###### *** USE A JOIN THAT PRESERVES ORDER AND USES THE INTERSECTION OF KEYS***
###### *** USE BOTH THE LEFT AND RIGHT INDEXES AS JOIN KEYS***
##### 3. From the mergedDF keep FirstName/LastName/Team/Cntry/ SV% /GA/GAA/ TOI (note one copy for any duplicate column)
##### 4. GroupBy country on mergedDF and aggregate The Means, Mins, and Maximum of the kept columns
#### 5. Create a dataframe of the <font color='red'>TOI </font>groupby object and write it to a comma seperated value file called ('TOI_2017.csv')

## Notes:

1. Review or read up pandas documentation on:
    - how to create selection criteria
    - how aggs/joins work: https://pandas.pydata.org/pandas-docs/stable/merging.html
2. https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html
3. https://stackoverflow.com/questions/14734533/how-to-access-pandas-groupby-dataframe-by-key
4. https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.get.html

In [ ]:
#Answer 5 here: please comments

# Q6) Write a function(s)  
## that subsets a dataframe by removing rows that are WITHIN the InterQuartile Region of a specified column
<br> </br>
### The function takes as input 
##### A: Pandas_Dataframe (For example use NHL_GoaliesDF)
##### B. Column name
### Add a condition that returns an error if the Column Name chosen is not:
##### A. Numeric Dtype
##### B. Does not exist in the Numeric Columns
### The output is a DataFrame that removes rows outside of the specified columns IQR
<br> </br>
<font color='red'>**You can use smaller helper functions **<font>
<br> </br>
See --> <href>=https://en.wikipedia.org/wiki/Interquartile_range</href>
#hint: There are several pandas subfunctions that can be useful

In [ ]:
#Answer Question 6 here